<!-- src/app/home/home.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Gestión de Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addStudent()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="student.nombre" name="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Matrícula</ion-label>
      <ion-input [(ngModel)]="student.matricula" name="matricula"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Calificación</ion-label>
      <ion-input [(ngModel)]="student.calificacion" name="calificacion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input [(ngModel)]="student.direccion" name="direccion"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Agregar Alumno</ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let student of students">
      <ion-label>
        <h2>{{ student.nombre }}</h2>
        <p>{{ student.matricula }} - {{ student.calificacion }}</p>
      </ion-label>
      <ion-button (click)="viewDetails(student.matricula)">Ver Dirección</ion-button>
      <ion-button color="danger" (click)="deleteStudent(student.matricula)">Borrar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>



